@model CosmosDemo.Models.ProjectTask

@{
    ViewData["Title"] = "Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt hidden>
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskName) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditTask", new { id = @ViewBag.Id, taskId = Model.TaskId }) |
    @Html.ActionLink("Back to List", "Tasks", new { id = @ViewBag.Id })
    @*<a asp-action="Tasks">Back to List</a>*@
</div>
